@import 'assets/styles/mixins.scss';

.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsOverlay {
  ul {
    li:last-child {
      color: $danger;
    }
  }
}
