@import 'assets/styles/mixins.scss';

.page__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $sm-max-width) {
    flex-direction: column-reverse;
    align-items: baseline;
  }

}

.search {
  margin-bottom: 1em;
}

.tableActionsWrapper {
  display: flex;
  justify-content: space-between;
  width: 30%;

  @media (max-width: $sm-max-width) {
    width: 100%;
  }
}
