@import 'assets/styles/mixins.scss';

.page__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  margin-bottom: 1em;
}

.tableActionsWrapper {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
