.settingsField {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .settings__title {
        max-width: 150px;
        width: 100%;
        margin-bottom: 0px !important;
        margin-right: 5px;
        white-space: nowrap;
    }
}
