REACT_APP_API_URL=https://qa.api.lims.mirimus.com/v1
REACT_APP_API_URL=https://accelevir.api.lims.mirimus.com/v1

NODE_ENV=development

REACT_APP_MOCK_URL=http://localhost:9001

REACT_APP_VERSION=$npm_package_version

REACT_APP_LAB_ID=aclv
REACT_APP_LAB_ID=mirimus