@import 'assets/styles/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* AUTH */

.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: rem(540);
  width: 100%;
  align-items: center;
  padding: 3em;
  border-radius: 5px;
  background-color: white;
}

.logo {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.header {
  color: $black;
  font-size: 30px;
  text-align: center;
  margin: 1em 0;
}

.formInput {
  width: 100%;
  padding-bottom: 0.75em;
}

.linkButton {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: $info;
}

.navigationWrap {
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: $gray-6;
  text-align: center;
  font-size: 16px;
  margin-top: 5em;
}

.submitButton {
  text-align: center;
  width: 100%;
  font-size: 16;
  text-transform: uppercase;
  background-color: $info;
  border-color: $info;
}

.formButton {
  margin-bottom: 1rem;
}