@import 'assets/styles/mixins.scss';

.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #3A54AA;
  height: 100vh;
}

.title {
  font-size: 36px;
  line-height: 30px;
  color: white;
}

.container {
  max-width: rem(540);
  width: 100%;
  align-items: center;
  padding: 3em;
  border-radius: 5px;
  background-color: white;
}

.header {
  color: $black;
  font-size: 30px;
  text-align: center;
  margin: 1em 0;
}

.formInput {
  width: 100%;
  padding-bottom: 0.75em;
  border-radius: 6px;
}

.linkButton {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: $primary;
}

.navigationWrap {
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: $gray-6;
  text-align: center;
  font-size: 16px;
  margin-top: 5em;
}

.submitButton {
  width: 100%;
  text-transform: uppercase;
  border-radius: 6px;
}

.formButton {
  margin-bottom: 1rem;
}

.nameContainer {
  display: flex;
  flex-flow: row;
}
