@import 'assets/styles/mixins.scss';

.letterColumn {
  background: $gray-1;
  width: 36px;
}

.tube {
  width: 32px !important;
  height: 32px !important;
  visibility: visible !important;
  // &:hover,
  // &:active,
  // &:focus {
  //   border-color: $success !important;
  //   border-width: 3px;
  //   transition: none;
  // }
}

// .notTested {
//   background: $gray-4;
//   border-color: $gray-4;
//   &:hover,
//   &:active,
//   &:focus {
//     background: lighten($gray-4, 10%);
//     border-color: lighten($gray-4, 10%);
//   }
// }

.tubeInput {
  width: 250px;
}


.row:hover > td:first-child {
  background: #eceff1 !important;
}
.row:hover > td:not(:first-child) {
  background: unset !important;
}


.popoverBtn {
  display: flex;
  max-width: 250px;
  width: 100% !important;
  margin-bottom: 1rem;
  justify-content: center;

  button {
    width: 100% !important;
  }
}

.popoverWrapper {
  display: flex;
  flex-direction: column;
}
