@import 'assets/styles/mixins.scss';

.page__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsWrapper {
  button:first-child {
    margin-right: 10px;
  }
}

// .divider {
//   border-right: '1px solid black';
// }
