@import 'assets/styles/mixins.scss';

.page__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cancelBtn {
  display: none;
}

.search {
  max-width: 300px;
  @media (max-width: 574px) {
    margin-bottom: 1.5rem;
  }
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @media (max-width: 574px) {
    display: block;
  }
}

.dropdown_samples {
  margin-left: 10px;
}

.actionMenu li[aria-disabled='true'] {
  color: rgba(0, 0, 0, 0.25) !important;
}
