@import 'assets/styles/mixins.scss';

.topbar {
  background: transparent;
  min-height: rem(64);
  border-bottom: 1px solid $border;
  padding: rem(12) rem(20);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.info {
  span[brand] {
    color: $info;
    font-size: 2em;
    margin-right: 0.5em;
  }

  span[description] {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
  }
}
