.scannedInfoCard {
  margin-bottom: 10px;
  margin-right: 10px;

  > div:first-child {
    padding: 12px 10px;
  }
}

.scannedInfoTag {
  width: 100px !important;
}

.ellipsis {
  div:last-child {
    span:last-child {
      font-size: 17px;
      line-height: 20px;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.rackStat {
  div:last-child {
    font-size: 17px;

    span:last-child {
      font-size: 17px;
      line-height: 20px;
      text-transform: capitalize;
    }
  }
}
