@import 'assets/styles/mixins.scss';

.page__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $sm-max-width) {
    flex-direction: column;
    align-items: baseline;
  }
}

.rackStat {
  div:last-child {
    span:last-child {
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

.barcodeWrapper {
  width: 100%;
  text-align: center;
}

.tubesCountWrapper {
  text-align: center;
  padding-top: 110px;

  > span {
    font-size: 22px;
  }
}

.tubesCount {
  display: block;
  text-align: center;

  > div {
    font-size: 18px;
  }
}

.companyDetails {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.companyDetailsStat {
  > div {
    font-size: 18px;
  }
}

.submitBtns {
  display: flex;
  justify-content: flex-end;
}
