@import 'assets/styles/mixins.scss';

.actionsOverlay {
  ul {
    li:last-child {
      color: red;
    }
  }
}

.companyDetailsStat {
  margin-bottom: 1.42rem;
  div:last-child {
    font-size: 18px;
    span:last-child {
      font-size: 18px;
      width: 100%;
    }
  }
}

.companyDetailsStat:first-child {
  div:last-child {
    span:last-child {
      font-size: 18px;
    }
  }
}

.companyDetailsStat:nth-child(2) {
  div:last-child {
    span:last-child {
      font-size: 20px;
    }
  }
}

.editPoolName:hover {
  cursor: pointer;
}

.editPoolNameInputWrapper {
  display: flex;
  height: 32px;

  input {
    margin-right: 10px;
  }
}

.statisticReplacementTitle {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 15px;

  p {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

.statisticReplacementContent {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Source Sans Pro, sans-serif;
}

.statisticReplacementValue {
  font-size: 18px;
}

.hiddenButton {
  display: none;
}

.cardMeta {
  margin: 0 0 3rem;
}

.headline {
  display: flex;
  justify-content: space-between;
}
