@import 'assets/styles/mixins.scss';

.rackDetailsWrapper {
  margin: 1rem 0;
  width: 100%;
  font-size: 22px;

  .rackDetails {
    > div {
      font-size: 18px;
    }
  }
}

.barcodeWrapper {
  width: 100%;
  text-align: center
}

.tubesCountWrapper {
  text-align: center;
  padding-top: 110px;

  > span {
    font-size: 22px;
  }
}

.tubesCount {
  display: block;
  text-align: center;

  > div {
    font-size: 18px;
  }
}

.companyDetails {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.companyDetailsStat {
  > div {
    font-size: 18px;
  }
}


.submitBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > div:last-child {
    display: flex;
    align-self: flex-end;
  }
}
