@import 'assets/styles/mixins.scss';

.statisticIcon {
  margin-right: 10px;
}

.reportCart {
  height: 100%;

  .report {
    font-size: 16px;
    cursor: pointer;
    color: $primary;
  }
}

.poolPartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
