.search {
  margin-bottom: 2rem;
}
.stages {
  p {
    margin-bottom: 0;
  }
}

.emptyPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 17px;
  }

  span {
    margin-left: 5px;
  }
}
