.page__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableHeader {
  > div:first-child {
    > div:first-child {
      margin-bottom: 5px;
    }
  }
}

.warning {
  color: rgba(0, 0, 0, 0.45);
  font-style: italic;
  .icon {
    margin-left: 1rem;
    margin-right: 0.3rem;
  }
}
