.link_wrap {
  justify-content: space-between;
  .input__deeplink {
    margin-right: 10px;
  }
}
.input_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.domainEnable {
  display: flex;
  align-items: center;
  span {
    margin-bottom: 0 !important;
    margin-left: 7px;
  }
}

.trackingEnableSwitch {
  // display: flex;
}

.tabDescription {
  padding: 20px;
  background-color: #f2f4f8;
  span {
    font-size: 16px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
}

.campaignInputs {
  padding: 12px;
}

.campaignDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.pickerWrap {
  position: absolute;
  bottom: 26px;
  left: -200px;
}
