@import 'assets/styles/mixins.scss';

.spin {
  text-align: center;
  padding: 30px 50px;
  margin: 20px 0;
}

.tableHeaderItem {
  margin-bottom: 0.5rem;
}

.search {
  height: 32px;
}

.rangePicker {
  width: 100%;
}
