.addButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  max-height: 300px;
  min-height: 300px;
  margin-bottom: 20px;
  border-radius: 12px;
  border-style: dashed;
  border-width: 2px;
  border-color: gray;
  font-size: 64px;
  cursor: pointer;
  color: gray;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: black;
  }
}