@import 'assets/styles/mixins.scss';

.dropDown {
  max-height: 300px;
  overflow: auto;
}

.hide {
  border: unset !important;
  padding: 0;
}

.notFoundNodeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0 0 0 5px;
  }
}

.loadingNode {
  display: flex;
  justify-content: center;
}

.contactResultModal {
  @media (max-width: $sm-max-width) {
    p {
      font-size: 18px;
    }
  }
}

.formItem {
  label {
    font-size: 18px;
  }

  input {
    height: 32px;

    @media (max-width: $sm-max-width) {
      height: 40px;
      font-size: 18px;
    }
  }
}
