@import 'assets/styles/mixins.scss';

.table {
  max-height: 83vh;
  width: 100%;
  overflow: auto;
}

.loader {
  position: fixed !important;
  left: auto !important;
  text-align: center;
}

.columnElements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tagColumn {
  height: 3.5em;
}

.modalButton {
  width: 100px;
}

.page__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableActionsWrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;

  .search {
    width: 65%;
    margin-bottom: 1em;
  }
}

.mobileTableHeaderWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .mobileTableHeaderRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;

    .search {
      width: 100%;
    }
  }
}

.tabletActionsWrapper {
  width: 60%;
  .search {
    width: 68%;
  }
}
